* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#29323c, #485563);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 2em;
}

form > div {
    background: rgb(0, 0, 0, .25);
    backdrop-filter: blur(25px);
    padding: 1em;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgb(0, 0, 0, .5);
}


fieldset {
    display: inline-block;
    padding: 1.5em;
}

button {
    margin: 1em 0;
    padding: .5em;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 4px 25px rgb(0, 0, 0, .3);
}

input {
    background: rgb(255, 255, 255, .25);
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: .25em 0;
    padding: 0 .5em;
    color: #fff;
}

.buttonClass {
    justify-content: center;
    align-items: center;
    display: flex;
}

.output {
    border: 1px solid #fff;
    height: 70px;
    border-radius: 10px;
    padding: 1em;
}